/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/Http/Controllers/AuthController.php
app/Http/Middleware/technoDemoMiddleware.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
public/flsar/*
public/data_warehouse/*

# Laravel 5 & Lumen specific with changed public path
public_html/storage

storage/framework/*

app/Http/Middleware/technoDemoMiddleware.php
app/Http/Controllers/Auth/AuthController.php

storage/framework/sessions_ws2022_2/*
public/flsar/*

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
vendor.rar
